@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{    
    font-family: "Inter", sans-serif;
    font-size: 15px;
}


article>img{
    max-width: 28%;
    margin-right: 1.1rem;
}

#read-more{
    padding: .9rem 1.9rem .9rem 1.9rem;
    margin-top: .7rem;
    margin-bottom: 2.5rem;
    border-radius: 0;
    border: none;
    background-color: hsl(5, 85%, 63%);
}
    #read-more:hover{
       background-color: black;
    }

button>a{text-decoration: none;
         color: #fff;
         text-transform: uppercase;
         letter-spacing: .2rem;
}
h1{
    font-weight: 800;}
h2{
        color:hsl(233, 8%, 79%);
        margin-bottom: .5rem;
}
p{
    margin-bottom: 1rem;
    color: hsl(233, 9%, 39%);
    line-height: 1.5rem
}
.card-two>h2{color:hsl(35, 77%, 62%)}
.card-two>h3{color:hsl(36, 100%, 99%)}
.card-two>h3:hover{color:hsl(35, 77%, 62%);}
hr{
    margin-top: 1.2rem;
    margin-bottom: 1rem;
 }
 article{display: flex;
         margin-bottom: 1.4rem;}
 .article-tag>h3:hover{
    color:hsl(5, 85%, 63%);} 
    .article-tag>p{
    margin-top: .7rem;
}
a{
    text-decoration: none;
}
.menu-links>a{
    color:hsl(233, 9%, 39%);
    margin: 0 1.5rem;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    @media only screen and (max-width: 725px){
        .main-container{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            min-height: 100vh;
            width: 100%;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #main-logo{
            max-width: 3rem;
            position: absolute;
            top: 1rem;
            left: 1.2rem;
        }
        .card-two{
          background-color: hsl(240, 100%, 5%);
            padding: 1.2rem 1.2rem 1.2rem 1.05rem;
            margin-bottom: 1.8rem;
        }
        
        .menu-open{
            max-width: 35%;
            position: absolute;
            top: 2.2%;
            right: 6.5%;
            cursor: pointer;
        }

        .menu-box{
            width: 40%;
            height: 100vh;
            background-color: white;
            position: absolute;
            top: 2%;
            right: 1%;
            padding: 50px 13px;
            transition: top 1s;
        }
        
        .menu-close{
            position: absolute;
            max-width: 22%;
            top: 2px;
            right: 30px;
        }
        .menu-right>img{
            width: 1.8rem;
            margin-left: 20px;
            cursor: pointer; 
        }
        
        .menu-links>a{
            text-decoration: none;
            color: black;
            display: block;
            width: fit-content;
            margin: 30px 0; 
        }
        #web-3-img{
            max-width: 99%;
            margin-left: .0.7rem;
        }
        h1{margin-right: 8rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    

    @media only screen and (min-width: 726px){
        .main-container{
            padding-left: 5rem;
            padding-right: 5rem;
            min-height: 100vh;
            width: 100%;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        #web-3-img{content:url(./assets/images/image-web-3-desktop.jpg);
        max-width: 99%;
        grid-row:1;
        grid-column: 1/3;
        }
        .menu-open{display: none;}
        .menu-close{display: none}

        #main-logo{
            max-width: 3rem;
            position: absolute;
            top: 1rem;
            left: 5rem;
        }
        .menu-links{
            position: absolute;
            top: 1.5rem;
            right: 5.3rem;
            
        
        }
         main{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(1fr, auto);
            grid-gap:1.2rem;
            justify-content: center;
            align-items: space-around;
        }
        h1{grid-row: 2/3;
           grid-column: 1/2;}
        .card-two{
            background-color: hsl(240, 100%, 5%);
            padding: 1.2rem 1.2rem 1.2rem 1.05rem;
            margin-bottom: 1.8rem;
            grid-row:1/3 ;
        }
        #retro{
            grid-row:3/4;
            grid-column:1/2;}
        #top-laptops{
            grid-row: 3/4;
            grid-column: 2/3;
            margin-right: .9rem;
        }
        
    } 
    